<br>
<br>
<br>

<div class="container">
        <div class="jumbotran">
            <form #frm="ngForm" (ngSubmit)="updateUser(frm)">
                <div class="from-group">
                    <label for="name">
                        Name:
                    </label>
                    <input
                    type="text"
                    class="from-control"
                    name="name"
                    [(ngModel)]="name"
                    required
                    pattern="[a-zA-Z][a-zA-Z ]+"
                    />
                </div>
                <!-- <div *ngIf="nameUser.touched" class="alert alert-danger">
                    <div *ngIf="nameUser.errors?.required">
                        Name is required
                    </div>
                    <div *ngIf="nameUser.errors?.pattern">
                        Invaild Name
                    </div>
                </div> -->
            
                <div class="from-group">
                    <label for="contact">
                        Contact:
                    </label>
                    <input
                    type="text"
                    class="from-control"
                    name="contact"
                    [(ngModel)]="contact"
                    required
                    />
                </div>
            
                <div class="from-group">
                    <label for="email">
                        Email:
                    </label>
                    <input
                    type="text"
                    class="from-control"
                    name="email"
                    [(ngModel)]="email"
                    required
                    />
                </div>
                <button type="submit" name="button" class="btn btn-success " [disabled]="frm.invalid" >{{title}}</button>
            </form>
        </div>
    </div>
