

<!---><ul class="list-group">
    <li *ngFor="let user of userList, let i=index" class="list-group-item">
            {{user?.name}}
            <button class="edit" (click) = (editUser(i))>Edit</button>
            <button class="deletebtn" (click) = "deleteUser(i)">Delete</button>
    </li>
</ul>
-->

<br>
<br>
<br>



<a routerLink="/adduser">Add New User</a>

<table class="table table-bordered">
    <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList, let i=index">
            <td>{{user.name}}</td>
            <td>{{user.contact}}</td>
            <td>{{user.email}}</td>
            <td><button class="edit" (click) = "editUser(user, i)">Edit</button>
                <button class="deletebtn" (click) = "deleteUser(i)">Delete</button>
            </td>
            <!-- <td><button class="deletebtn" (click) = "deleteUser(i)">Delete</button></td> -->
        </tr>
    </tbody>
</table>


<!-- {{frm.value | json}} -->